@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

/* Tailwind 4.1.6 기준 토큰 정의 */
@theme {
  --color-primary-100: #50c7b3;
  --color-primary-200: #3bb7a1;
  --color-white: #fff;
  --color-gray: #7d7d7d;
  --color-darkslategray: #0e2e40;
  --color-darkgray: #325b5f;
  --color-lightyellow: #ffffdc;
  --color-palegoldenrod: #ecf0b7;
  --color-silver: #bababc;
  --color-lightgray: #cbcccc;
  --font-inter: "Inter", sans-serif;
}

/* 커스텀 리셋 및 기본 레이아웃 설정 */
@layer base {
  *,
  ::before,
  ::after {
    @apply border-0;
  }

  html,
  body {
    @apply h-full m-0 p-0 overflow-x-hidden;
    font-family: var(--font-inter);
  }

  body {
    @apply leading-normal;
  }

  body > div {
    @apply min-h-screen flex flex-col;
  }

  main {
    @apply flex-1;
  }
}
